{% extends "main.html" %}
{% block content %}
<!-- 	<div class="row top-menu">
		<div class="col-md-10"></div>
		<div class="col-md-2 text-right">
					</div>
	</div>
	<div class="row divider blue">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner main">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<h1>Catalogs</h1>
		</div>
	</div> -->

	<div class = 'flash'>
			      {% with messages = get_flashed_messages() %}
	      {% if messages %}
	          
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}

	</div>
	{% if session.username %}
	<div class="row ">
		<div class="col-md-1"></div>
		<div class="col-md-10 padding-none">
			<a href="{{url_for('newCategory')}}">
				<button class="btn btn-default" id="new-category">
					<span class="glyphicon glyphicon-list" aria-hidden="true"></span>Add Category
				</button>
			</a>
		</div>
		<div class="col-md-1"></div>
	</div>
	{% endif %}
	<div class="row panel-body">
		<div class="col-xs-4">
			<h2>Categories</h2>
			<div class="list-group">
			{% for catalog in catalogs %}
				<a href = "{{url_for('showItems', category_name = catalog.name)}}" class="list-group-item">
					<div class="row">
						<div class="col-md-1"></div>
							<div class="col-md-10 catalog-list">
								<h3>{{catalog.name}}</h3>
							</div>
						<div class="col-md-1"></div>
					</div>
				</a>
			{% endfor %}	
			</div>		
		</div>
		<div class="col-xs-8">
			<h2>Latest Items</h2>
			<div class="list-group">
			{% for item in items %}
				<a href = "{{url_for('showItems', category_name = item.catalog.name)}}" class="list-group-item">
					<div class="row">
						<div class="col-md-1"></div>
							<div class="col-md-10 item.-list">
								<h3>{{item.catalog.name}} - {{item.name}}</h3>
							</div>
						<div class="col-md-1"></div>
					</div>
				</a>
			{% endfor %}
			</div>			
		</div>
	</div>
{% endblock %}
