{% extends "main.html" %}
{% block content %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ catalog.name }}
			<figure class="creator">
				<img src="{{ url_for('static', filename='blank_user.gif') }}">
				<figcaption>Created by: {{catalog.user.name}}</figcaption>
			</figure>
			</h1>

		</div>
	</div>

	<div class = 'flash'>
			      {% with messages = get_flashed_messages() %}
	      {% if messages %}
	          
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}

	</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('editCatalog', catalog_id = catalog.id )}}">
				<button class="btn btn-default" id="new-item">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit Catalog
				</button>
			</a>
			<a href="{{url_for('newItem', catalog_id = catalog.id )}}">
				<button class="btn btn-default" id="new-item">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Item
				</button>
			</a>
						<a href="{{url_for('deleteCatalog', catalog_id = catalog.id )}}">
				<button class="btn btn-default delete" id="delete-catalog">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Catalog
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>
	<div class="row">
		<div class="col-xs-4 panel-body">
			<h2>Categories</h2>
			<div class="list-group">
			{% for catalog in catalogs %}
				<a href = "{{url_for('showItems', catalog_id = catalog.id)}}" class="list-group-item">
					<div class="row">
						<div class="col-md-1"></div>
							<div class="col-md-10 catalog-list">
								<h3>{{catalog.name}}</h3>
							</div>
						<div class="col-md-1"></div>
					</div>
				</a>
			{% endfor %}	
			</div>		
		</div>
		<div class="col-xs-8 panel-body">
			{% if items !=[] %}	
				<h2>{{catalog.name}} items ({{ items | length }} items)</h2>
				<div class="row">
					
						{% for i in items %}
						<div class=" panel panel-default col-xs-12 col-md-6 col-lg-4 pre-scrollable" style="min-height: 34rem; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
							<div >
								<h3>{{i.name}}</h3>
								<p>{{i.description}}</p>
								<p class="menu-price">US$ {{i.price}}</p>
								<a href='{{url_for('editItem', catalog_id = catalog.id, item_id=i.id ) }}'>Edit</a> | 
								<a href='{{url_for('deleteItem', catalog_id = catalog.id, item_id=i.id ) }}'>Delete</a>
							</div>
						</div>
						{% endfor %}
					
				</div>
			{% endif %}
		</div>
	</div>
	
{% endblock %}
