{% extends "main.html" %}
{% block content %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ category.name }} - ({{ items | length }} items)
			<figure class="creator">
				<img src="{{ url_for('static', filename='blank_user.gif') }}">
				<figcaption>Created by: {{category.user.name}}</figcaption>
			</figure>
			</h1>

		</div>
	</div>

	<div class = 'flash'>
			      {% with messages = get_flashed_messages() %}
	      {% if messages %}
	          
	        <ul>
	        {% for message in messages %}
	            <li> <strong> {{ message }} </strong> </li>
	        {% endfor %}
	        </ul>
	        {% endif %}
	    {% endwith %}

	</div>
	{% if session.username %}
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('editCategory', category_name = category.name )}}">
				<button class="btn btn-default" id="new-item">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>Edit Category
				</button>
			</a>
			<a href="{{url_for('newItem', category_name = category.name )}}">
				<button class="btn btn-default" id="new-item">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>Add Item
				</button>
			</a>
						<a href="{{url_for('deleteCategory', category_name = category.name )}}">
				<button class="btn btn-default delete" id="delete-category">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>Delete Category
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-xs-4 panel-body">
			<h2>Categories</h2>
			<div class="list-group">
			{% for category in categories %}
				<a href = "{{url_for('showItems', category_name = category.name)}}" class="list-group-item">
					<div class="row">
						<div class="col-md-1"></div>
							<div class="col-md-10 category-list">
								<h3>{{category.name}}</h3>
							</div>
						<div class="col-md-1"></div>
					</div>
				</a>
			{% endfor %}	
			</div>		
		</div>
		<div class="col-xs-8 panel-body">
			{% if items !=[] %}	
				<h2>{{category.name}} items ({{ items | length }} items)</h2>
				<div class="row">
					
						{% for i in items %}
						<div class=" panel panel-default col-xs-12 col-md-6 col-lg-4 pre-scrollable" style="min-height: 34rem; box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);">
							<div >
								<a href="{{url_for('viewItem', category_name = category.name, item_name=i.name )}}"><h3>{{i.name}}</h3></a>
								<p>{{i.description}}</p>
								<p class="menu-price">US$ {{i.price}}</p>
								{% if session.username %}
								<a href="{{url_for('editItem', category_name = category.name, item_name=i.name ) }}">Edit</a> | 
								<a href="{{url_for('deleteItem', category_name = category.name, item_name=i.name ) }}">Delete</a>
								{% endif %}
							</div>
						</div>
						{% endfor %}
					
				</div>
			{% endif %}
		</div>
	</div>
	
{% endblock %}
